<mat-toolbar>
    <nav class="navigation__container">
        <ul>
            <li>
                <a mat-button routerLink="/home">Начало</a>
            </li>
            <li>
                <a mat-button routerLink="/estates">Имоти</a>
            </li>
            
            <div>
                <li>
                    <a mat-button routerLink="/home">Влез</a>
                </li>
                <li>
                    <a mat-button routerLink="/estates">Регистрация</a>
                </li>
            </div>
        
        </ul>
    </nav>
</mat-toolbar>