<mat-toolbar>
    <nav class="navigation__container">
        <ul>
            <li>
                <a mat-button routerLink="/home">Начало</a>
            </li>
            <li>
                <a mat-button routerLink="/estates">Имоти</a>
            </li>
            
            <div class="navigation--authentication__container">
                <li>
                    <a mat-button routerLink="/login">Влез</a>
                </li>
                <li>
                    <a mat-button routerLink="/register">Регистрация</a>
                </li>
            </div>
        
        </ul>
    </nav>
</mat-toolbar>