.navigation__container {
    ul {
        display: flex;

        li {
            list-style-type: none;
        }
    }
}

.navigation--authentication__container {
    display: flex;
    justify-content: flex-end;
}

.mat-toolbar.mat-primary {
    display: flex;

    .primary-nav {
        &__user-name {
            margin-left: 5px;
            font-weight: 400;
        }
    }
}