<form [formGroup]="estateForm" (ngSubmit)="onUpdate()">
    <div class="estate-update">
        <div class="estate-update__content-left">
            <ngx-gallery *ngIf="estate.images.length > 0; else noImages" [options]="galleryOptions" [images]="galleryImages">
            </ngx-gallery>

            <ng-template #noImages>Няма качени снимки.</ng-template>

            <div class="estate-update__file-upload">
                <div class="estate-update__field">
                    <app-file-upload (files)="onFileUpload($event)" (isFilesDeleted)="onDeleteFiles()">
                    </app-file-upload>
                </div>
            </div>
        </div>

        <div class="estate-update__estate-data">
            <div class="estate-update__field">
                <mat-form-field>
                    <mat-label>Вид на имота</mat-label>
                    <mat-select formControlName='estateType'>
                        <mat-option *ngFor="let estateType of (estateTypes | sortBy: 'estateTypes')"
                            [value]='estateType.type'>
                            {{estateType.type}}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngFor="let error of estateForm.controls.estateType.errors | error">
                        {{ error }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="estate-update__field">
                <mat-form-field>
                    <mat-label>Етаж</mat-label>
                    <mat-select formControlName='floor'>
                        <mat-option *ngFor="let floor of (floors | sortBy: 'floors')" [value]='floor.number'>
                            {{floor.number}}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngFor="let error of estateForm.controls.floor.errors | error">
                        {{ error }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="estate-update__field">
                <mat-form-field>
                    <mat-label>Вид на обява</mat-label>
                    <mat-select formControlName='adType'>
                        <mat-option *ngFor="let adType of adTypes" [value]='adType.type'>
                            {{adType.type}}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngFor="let error of estateForm.controls.adType.errors | error">
                        {{ error }}
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="estate-update__field">
                <mat-form-field>
                    <input type="number" formControlName="builtUpArea" matInput placeholder="Квадрати">

                    <mat-icon matSuffix>square_foot</mat-icon>

                    <mat-error *ngFor="let error of estateForm.controls.builtUpArea.errors | error">
                        {{ error }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="estate-update__field">
                <mat-form-field>
                    <input type="number" formControlName="pureArea" matInput placeholder="Чисти квадрати">

                    <mat-icon matSuffix>square_foot</mat-icon>

                    <mat-error *ngFor="let error of estateForm.controls.pureArea.errors | error">
                        {{ error }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="estate-update__field">
                <mat-form-field>
                    <input type="number" formControlName="price" matInput placeholder="Цена">

                    <mat-icon matSuffix>euro</mat-icon>

                    <mat-error *ngFor="let error of estateForm.controls.price.errors | error">
                        {{ error }}
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="estate-update__field description">
                <mat-form-field>
                    <textarea matInput formControlName="description" placeholder="Описание на имота"></textarea>

                    <mat-error *ngFor="let error of estateForm.controls.description.errors | error">
                        {{ error }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="estate-update__field features">
                <mat-label class="features-label">Особености</mat-label>
                <div class="feature-checkbox" *ngFor="let estateFeature of estateFeatures">
                    <mat-checkbox [(ngModel)]="estateFeature.isChecked" [ngModelOptions]="{standalone: true}">
                        {{ estateFeature.feature }}
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <button type="submit" [disabled]="estateForm.invalid" mat-raised-button color="primary">Редактирай</button>
    </div>
</form>