<div class="container__profile">
    <mat-toolbar>
        <div class="mat-toolbar-tools">
            <h3>
                <span>Профил</span>
            </h3>
        </div>
    </mat-toolbar>
    <mat-tab-group>
        <mat-tab label="Информация">
            <br>
            <mat-form-field>
                <mat-icon matSuffix>face</mat-icon>
                <input type="text" matInput placeholder="Име">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-icon matSuffix>create</mat-icon>
                <input type="text" matInput placeholder="Фамилия">
            </mat-form-field>
            <br>
            
            <mat-form-field>
                <mat-icon matSuffix>email</mat-icon>
                <input type="email" matInput placeholder="Имейл" readonly>
            </mat-form-field>


        </mat-tab>
        <mat-tab label="Сигурност">
        </mat-tab>
    </mat-tab-group>
</div>