@import '_variables';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-blue {
    background-color: $blue;
    color: $white;
}

.snack-error {
  background: #B00020;
}

.container,
.container--card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: calc(100% - 64px);

  .container--card {
    flex-direction: column;
    padding: 4rem;
    
    form {
      display: flex;
      flex-direction: column;
    }
  }
}